@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
body {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif; }

p {
  margin-top: 0;
  font-family: "Open Sans", sans-serif; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  color: inherit;
  font-weight: 700; }

h1,
.h1 {
  font-size: 36px;
  margin: 1em; }

h2,
.h2 {
  font-size: 30px;
  margin: 1em; }

h3,
.h3 {
  font-size: 24px;
  margin: 1em; }

h4,
.h4 {
  font-size: 18px;
  margin: 1em; }

h5,
.h5 {
  font-size: 14px;
  margin: 1em; }

h6,
.h6 {
  font-size: 12px;
  margin: 1em; }

.brand-title {
  padding-top: 259px;
  padding-left: 22.14286%;
  padding-right: 22.14286%;
  padding-bottom: 20px;
  line-height: 50px;
  text-align: center;
  font-size: 52px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 700; }

.brand-desc {
  padding-top: 24px;
  padding-bottom: 65px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 22px;
  padding-left: 31.25%;
  padding-right: 31.25%; }

.strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.brand-link {
  text-align: center;
  padding-bottom: 166px; }

.brand-title + .brand-desc {
  position: relative; }
  .brand-title + .brand-desc:not(.prevent-ta) {
    text-align: center; }
  .brand-title + .brand-desc:not(.no-line):after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: -50%;
    right: -50%;
    max-width: 120px;
    height: 2px;
    margin: auto;
    background-color: #ffffff; }

.form {
  max-width: 750px;
  text-align: center;
  margin: auto;
  box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.1), 0 16px 42px rgba(0, 0, 0, 0.14);
  background-image: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%); }
  .form-group {
    margin-bottom: 83px;
    margin-top: 60px; }
  .form-control {
    padding: 0 97px; }
    .form-control::-webkit-input-placeholder {
      color: #fff;
      opacity: 1; }
    .form-control::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    .form-control::-ms-input-placeholder {
      color: #fff;
      opacity: 1; }
  .form-label {
    display: block;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 4px; }

.form-title {
  font-size: 24px;
  margin: 0;
  padding-top: 64px;
  text-align: center;
  font-weight: 700;
  color: #ff5b00; }

.form-desc {
  color: #212121;
  font-size: 14px;
  padding: 20px 0 30px 0; }

.forms {
  color: #ffffff; }
  .forms-title {
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 44px; }

.forms-link {
  color: #ffffff; }

.phones {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  text-align: center; }

.mail {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  text-align: center; }

.skype {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  text-align: center; }

input,
.input,
textarea,
.textarea {
  padding: 18px;
  margin: auto;
  width: 100%;
  display: block;
  border: 2px solid #a6a6a6;
  background: transparent;
  margin-bottom: 20px;
  opacity: 0.7;
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 400; }

.textarea {
  height: 108px; }

.line {
  height: 2px;
  background-color: #e8e8e8;
  margin: auto;
  margin-bottom: 20px; }

.name {
  width: 48%;
  display: inline-block;
  float: left; }

.long {
  width: 100% !important; }

.phone {
  width: 48%;
  float: right;
  display: inline-block; }

.submit {
  margin-bottom: 65px;
  width: 163px; }

.filestyle {
  height: 52px;
  margin-bottom: 25px;
  background: url(../images/file.png) no-repeat;
  background-position: 50% 50%;
  background-color: #f1f1f1;
  border: 2px dashed #e1e1e1; }

.file {
  opacity: 0;
  margin-bottom: 0 !important; }

select[name="translateName"] {
  width: 49.5%;
  height: 50px;
  background: transparent;
  margin-bottom: 20px; }

select[name="originLang"] {
  width: 49.5%;
  height: 50px;
  background: transparent;
  margin-bottom: 20px; }

select[name="theme"] {
  width: 100%;
  background: transparent;
  height: 50px; }

.block {
  background-size: cover;
  background-position: 50% 50%;
  display: table;
  width: 100%;
  table-layout: fixed; }
  .block-header {
    display: table-header-group;
    height: 1%; }
  .block-content {
    display: table-row-group; }
  .block-footer {
    display: table-footer-group;
    height: 1%; }
  .block-inner {
    display: table-cell;
    vertical-align: middle; }
  .block-title {
    padding: 90px 0 45px 0;
    line-height: 34px;
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #ff5b00;
    font-family: "Open Sans", sans-serif; }
  .block-inverse {
    color: #ffffff; }
  .block-inverse-desc {
    font-size: 18px;
    text-align: center; }
  .block-desc {
    font-size: 24px;
    color: #636363;
    text-align: center;
    font-weight: 700;
    padding-top: 59px; }
  .block-title + .block-desc {
    position: relative; }
    .block-title + .block-desc:not(.prevent-ta) {
      text-align: center; }
    .block-title + .block-desc:not(.no-line):after {
      content: '';
      display: block;
      position: absolute;
      top: -19px;
      left: -50%;
      right: -50%;
      max-width: 170px;
      height: 3px;
      margin: auto;
      background-color: #ccc; }
  .block-collapse {
    padding: 0; }
  .block-fill-height {
    height: 100vh; }
  .block-overlay {
    position: relative;
    z-index: 1; }
    .block-overlay:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: inherit;
      opacity: 0.5; }

.bg-dark {
  background-color: #f6f6f6;
  color: #000; }

.bg-darken {
  background: linear-gradient(to right, #ff6400, #9325a4); }

.btn {
  font-size: 18px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  color: #f6f6f6;
  background: linear-gradient(to right, #ff7c00, #ff6200);
  border: none;
  border-radius: 25px;
  padding: 16px 23px;
  -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.15); }
  .btn:hover {
    background: linear-gradient(to right, #ff6d00, #f46004);
    color: #f6f6f6; }
  .btn-lg {
    padding: 16px 36px; }
  .btn-xs {
    font-size: 18px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
    color: #f6f6f6;
    background: linear-gradient(to right, #ff7c00, #ff6200);
    border: none;
    border-radius: 25px;
    padding: 16px 23px;
    -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.15); }
  .btn-inverse-xs {
    display: none; }
  .btn-inverse {
    font-size: 18px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: normal;
    color: #f6f6f6;
    background: linear-gradient(to right, #f90040, #9a219e);
    border: none;
    border-radius: 25px;
    padding: 16px 23px;
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.15); }
    .btn-inverse:hover {
      background: linear-gradient(to right, #d3063b, #721975);
      color: #f6f6f6; }

.icon-zoom-in:before {
  content: "\e987"; }

.btns {
  float: right;
  margin-top: 15px; }

html {
  box-sizing: border-box;
  -webkit-text-adjust: 100%; }

*,
:before,
:after {
  box-sizing: inherit; }

body {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100vh;
  table-layout: fixed; }

.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px; }

.footer {
  display: table-footer-group;
  height: 1%; }

.header {
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 26px; }
  .header-logo {
    display: inline-block; }
  .header-logo-link {
    display: block; }
  .header-slogan {
    display: inline-block;
    padding-left: 4.03509%;
    vertical-align: top;
    padding-top: 30px;
    color: #858585;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px; }
  .header-call {
    margin-right: 24px;
    display: inline-block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #3b3b3b; }
  .header-toggle {
    display: none;
    float: right;
    border-radius: 3px;
    padding: 13px 8px;
    width: 45px;
    height: 45px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.1; }
  .header input[type=checkbox] {
    display: none; }
  .header .popup-checkbox,
  .header .popup,
  .header .popup-second-checkbox2,
  .header .popup-second {
    display: none; }
  .header .popup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .header .popup:before {
    display: block;
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #a6a6a6;
    opacity: 0.8; }
  .header .popup-content {
    width: 555px;
    text-align: center;
    padding: 62px 0;
    height: 572px;
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.1), 0 16px 42px rgba(0, 0, 0, 0.14);
    background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%);
    position: absolute;
    z-index: 2;
    top: 17vh;
    left: 0;
    right: 0;
    margin: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .header .popup-closer {
    position: absolute;
    top: 32px;
    right: 32px;
    color: #a6a6a6;
    font-size: 26px;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 20px;
    text-align: center;
    cursor: pointer; }
  .header .popup-checkbox:checked + .popup {
    opacity: 1;
    display: block; }
  .header .popup-second {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .header .popup-second:before {
    display: block;
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8; }
  .header .popup-second-content {
    position: relative;
    top: 164px;
    z-index: 6;
    margin: auto;
    text-align: center;
    padding: 36px 105px;
    width: 555px;
    height: 280px;
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.1), 0 16px 42px rgba(0, 0, 0, 0.14);
    background-image: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%); }
  .header .popup-second-checkbox2:checked + .popup-second {
    opacity: 1;
    display: block; }
  .header .popup-title {
    color: #ff5b00;
    font-size: 24px;
    font-weight: 700; }
  .header .popup-desc {
    padding: 20px 0 37px 0;
    color: #212121;
    font-size: 14px;
    font-weight: 400; }
  .header .popup-name {
    width: 360px;
    margin-bottom: 15px; }
  .header .popup-phone {
    width: 360px;
    margin-bottom: 15px; }
  .header .popup-textarea {
    margin-bottom: 34px;
    width: 360px;
    height: 128px; }
  .header .viber {
    color: #694a84;
    font-size: 10px;
    display: block;
    text-align: right;
    text-transform: uppercase; }

.pagenav--fixed {
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.navbar__inner {
  text-align: center;
  background-color: rgba(30, 24, 53, 0.4);
  z-index: 1; }

.pagenav {
  margin: 0;
  padding: 0;
  min-height: 70px; }

.pagenav-item {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 2.19298%;
  display: inline-block; }

.pagenav-link {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff; }

.pagenav-link:hover {
  color: #9a9a9a; }

.icon-bar {
  height: 3px;
  margin-bottom: 4px;
  display: block;
  width: 100%;
  background-color: #999999; }

.about {
  position: relative;
  content: '';
  clear: both;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 42px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 42px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 42px 0px rgba(0, 0, 0, 0.15); }
  .about-text {
    margin: 0;
    font-size: 14px;
    line-height: 22px; }
  .about-items {
    margin: 0;
    padding-top: 55px;
    padding-bottom: 74px;
    padding-left: 6.57895%;
    padding-right: 6.57895%;
    text-align: justify; }
    .about-items:after {
      width: 100%;
      content: "";
      display: inline-block; }
  .about-items li {
    list-style: none;
    display: inline-block;
    color: #ff5b00;
    font-weight: 700;
    font-size: 18px; }

.grey {
  color: #636363; }

.representation {
  padding-top: 35px;
  padding-bottom: 20px;
  color: #636363;
  font-weight: 700; }

.country {
  padding-bottom: 25px; }

.about-pd {
  padding: 70px 396px 0 90px; }

.italy {
  padding-right: 38px;
  display: inline-block; }

.poland {
  display: inline-block; }

.poland-img {
  padding-right: 18px; }

.italy-img {
  padding-right: 18px; }

.more {
  display: inline-block;
  font-size: 18px;
  color: #636363;
  font-weight: 700;
  padding-left: 27px;
  padding-top: 17px;
  padding-bottom: 85px; }

.more:hover {
  color: #7d7d7d; }

.woman {
  position: absolute;
  right: 64px;
  bottom: 0; }
  .woman-img {
    vertical-align: bottom; }

.service-expandable-text {
  margin-top: 50px;
  font-size: 16px;
  line-height: 22px;
  padding: 0 90px 0 100px; }

.service-expandable-text__button {
  color: #ff5b00;
  font-size: 16px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  padding: 0;
  transition: color .2s; }

.service-expandable-text__button:hover {
  color: darkred;
  transition: color 0; }

.service-expandable-text__hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.service-items {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.service-item {
  font-size: 36px;
  width: 196px;
  display: inline-block; }

.service-img {
  width: 90px;
  margin: 0 auto;
  border-radius: 50%;
  height: 90px;
  background: #ececec;
  border: 6px solid #ececec; }

.service-desc {
  font-size: 14px;
  color: #3b3b3b;
  font-weight: 600;
  padding: 20px 28px; }

.fa {
  vertical-align: -webkit-baseline-middle; }

.fa-skype {
  vertical-align: inherit; }

.service-item:hover .service-img {
  background: transparent; }
  .service-item:hover .service-img .fa {
    color: #ff5b00; }

.service-item:hover .service-desc {
  color: #ff5b00; }

.tabs {
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 241px;
  position: relative; }

.tab {
  display: inline-block; }

.tab > span {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #a6a6a6;
  margin: 0 15px;
  padding-bottom: 8px; }

.tab > span.selected {
  font-size: 18px;
  font-weight: 700;
  color: #ff5b00;
  margin: 0 15px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ff5b00; }

.tab-content {
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
  top: 40px;
  color: #000;
  width: 100%; }

.ask {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 92px; }

.found {
  display: inline-block;
  margin: 0; }

.question {
  font-weight: 700;
  color: #ff5b00; }

.info {
  width: 36%;
  display: inline-block;
  padding-top: 55px;
  padding-left: 98px;
  padding-right: 5.71429%;
  vertical-align: top; }
  .info-title {
    padding-bottom: 25px;
    color: #ff5b00;
    font-size: 18px;
    font-weight: 700; }
  .info-link {
    display: block;
    color: #595959;
    line-height: 24px;
    font-size: 14px; }
    .info-link:hover {
      color: #ff5b00; }

.legal-info {
  padding-top: 27px;
  display: inline-block; }

.links {
  width: 20%;
  padding-top: 58px;
  display: inline-block; }

.social {
  width: 40%;
  padding-top: 40px;
  float: right; }
  .social-desc {
    padding-left: 100px;
    padding-right: 100px;
    color: #636363;
    font-size: 12px;
    text-align: center; }

.sprite {
  text-align: center;
  padding: 26px 0 19px 0;
  font-size: 42px;
  color: #969696; }

.fs {
  display: inline-block; }

.vk {
  display: inline-block; }

.od {
  display: inline-block; }

.tw {
  display: inline-block; }

.gl {
  display: inline-block; }

.fs:hover,
.vk:hover,
.od:hover,
.tw:hover,
.gl:hover {
  color: #9a219e; }

.copy {
  text-align: center;
  color: #a5a5a5;
  padding: 37px 0 20px;
  font-size: 12px; }

.img-logo {
  text-align: center; }

.work {
  text-align: center; }

.diagram-holder {
  height: 306px;
  box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.1), 0 16px 42px rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  margin-bottom: 55px; }

.reviews-holder {
  background-color: #ffffff;
  box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.1), 0 16px 42px rgba(0, 0, 0, 0.14);
  margin-bottom: 130px;
  line-height: 22px;
  position: relative;
  content: "";
  clear: both; }

.reviews {
  text-align: left;
  height: 404px; }
  .reviews-name {
    font-family: 'MyriadPro-Bold';
    font-weight: 700;
    color: #636363;
    font-size: 18px;
    display: inline-block; }
  .reviews-company {
    color: #a6a6a6;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 400;
    display: inline-block; }
  .reviews-stars {
    padding-top: 5px; }
  .reviews-dark {
    width: 23%;
    height: 100%;
    float: right;
    position: relative;
    content: "";
    clear: both; }
  .reviews-text {
    padding-top: 15px;
    font-size: 14px;
    display: inline-block; }
  .reviews-content {
    width: 66%;
    padding: 63px 0 0 97px;
    display: inline-block; }
  .reviews-img {
    position: absolute;
    bottom: 0;
    left: -30px; }
  .reviews .next {
    color: #ff5b00;
    font-size: 14px;
    font-weight: 700; }

.nambers {
  float: right;
  color: #c7c7c7;
  display: inline-block;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-weight: 700; }

.namber-active {
  color: #636363; }

.line-item {
  text-align: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  text-align: justify;
  padding-left: 8.42105%;
  padding-right: 8.42105%; }

.line-item:after {
  width: 100%;
  content: "";
  display: inline-block; }

.line-items {
  text-align: center;
  display: inline-block; }

.circle {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background-color: #c2c2c2;
  border-radius: 50%; }

.circle-shadow {
  width: 60px;
  height: 60px;
  padding-top: 6px;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin: auto; }

.line-items:before {
  content: "";
  clear: both;
  height: 12px;
  width: 15px;
  background: #ff6200; }

.circle-shadow:active {
  width: 60px;
  height: 60px;
  box-shadow: 0 5px 6px 1px rgba(168, 71, 0, 0.15);
  background-image: linear-gradient(270deg, #ff6000 0%, #ff7e00 100%); }

.circle:active {
  background-image: linear-gradient(270deg, #ff6000 0%, #ff7e00 100%); }

.circle-namber {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  padding-top: 6px; }

/*:before {
    width: 100%;
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #f5ceff;
}
*/
.line-desc {
  padding-top: 25px;
  color: #010101;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 90px; }

.diagram {
  height: 306px;
  text-align: left; }
  .diagram-text {
    font-size: 14px;
    padding-top: 28px; }
  .diagram-content {
    padding: 64px 63px 0 98px;
    width: 63%;
    float: left;
    display: inline-block; }
  .diagram-img {
    width: 37%;
    height: auto;
    float: right;
    display: inline-block; }

.step {
  display: inline-block;
  color: #636363;
  font-size: 22px;
  font-weight: 700; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?699eja");
  src: url("../fonts/icomoon.eot?699eja#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?699eja") format("truetype"), url("../fonts/icomoon.woff?699eja") format("woff"), url("../fonts/icomoon.svg?699eja#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-odnoklassniki-logo:before {
  content: "\e908"; }

.icon-ic_add_circle_white_24px:before {
  content: "\e900";
  padding-right: 4px; }

.icon-ic_play_circle_filled_white_24px:before {
  content: "\e901";
  padding-right: 5px; }

.icon-ic_check_circle_white_24px:before {
  content: "\e904"; }

.icon-ic_perm_phone_msg_white_24px:before {
  content: "\e905"; }

.icon-ic_email_white_24px:before {
  content: "\e906"; }

.icon-facebook-with-circle:before {
  content: "\e902"; }

.icon-vk-with-circle:before {
  content: "\e903"; }

.icon-twitter-with-circle:before {
  content: "\e907"; }

.icon-google-plus3:before {
  content: "\ea8d"; }

@media all and (max-width: 768px) {
  .pagenav-item {
    padding-bottom: 19px;
    text-align: center;
    display: block; }
  .header-toggle {
    z-index: 20;
    position: absolute;
    top: 34px;
    right: 20px;
    display: block; }
  input[type=checkbox]:checked ~ .to-be-changed {
    display: block; }
  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .pagenav {
    position: absolute;
    top: 113px;
    left: 0;
    right: 0;
    display: none; }
  .pagenav:after {
    width: 100%;
    content: "";
    display: inline-block; }
  .header-call {
    display: none; }
  .btns {
    margin-right: 80px; }
  .header .popup-content {
    width: 455px;
    padding: 24px 0;
    height: 433px; }
  .header .popup-desc {
    padding: 2px 0 17px 0; }
  .header .popup-name,
  .header .popup-phone {
    margin-bottom: 10px; }
  .header .popup-textarea {
    margin-bottom: 16px;
    height: 100px; }
  .header .popup-second-content {
    width: 455px;
    padding: 36px 97px;
    height: 250px; }
  .more {
    padding-left: 0;
    padding-top: 24px; }
  .service-expandable-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px; }
  .diagram-img {
    display: none; }
  .diagram-content {
    width: 100%;
    padding: 50px 60px; }
  .reviews-content {
    width: 100%;
    padding: 50px 60px; }
  .reviews-dark {
    display: none; } }

@media all and (max-width: 480px) {
  body {
    font-size: 14px; }
  .block-title {
    font-size: 40px; }
  .header-slogan {
    display: none; }
  .owl-carousel .owl-prev,
  .owl-carousel .owl-next {
    display: none; }
  .brand-title {
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
    line-height: 45px;
    font-size: 37px; }
  .brand-desc {
    padding-left: 0;
    padding-right: 0; }
  .woman-img {
    display: none; }
  .about-pd {
    padding: 20px 20px 0 20px; }
  .about {
    background: none;
    box-shadow: none; }
  .fs20 {
    margin-left: 26%; }
  .more {
    text-align: center;
    display: block; }
  .block-desc {
    display: none; }
  .about-items {
    display: none; }
  .service-expandable-text {
    display: none; }
  .tabs {
    min-height: 140px; }
  .tab {
    width: 49%;
    border: 2px solid #ff5b00;
    border-radius: 25px; }
  .tab > span {
    cursor: pointer;
    padding: 5px;
    font-weight: 700;
    color: #a6a6a6;
    margin: 0;
    padding-bottom: 0; }
  .tab > span.selected {
    margin: 0;
    padding-bottom: 0;
    border-bottom: none; }
  .info,
  .links {
    display: none; }
  .social {
    background: #ffffff;
    width: 100%; }
  .line-item {
    margin: 0; }
  .line-desc {
    display: none; }
  .reviews-holder {
    box-shadow: none; }
  .reviews-content {
    padding: 37px 21px 0; }
  .diagram-content {
    padding: 37px 21px 0; }
  .diagram-holder {
    box-shadow: none; }
  .nambers {
    display: none; }
  .step {
    display: block;
    text-align: center; }
  #owl-carousel2 .owl-prev {
    top: 240px !important;
    left: 45% !important; }
  #owl-carousel2 .owl-next {
    top: 240px !important;
    left: 55% !important; }
  .name {
    width: 100%; }
  .phone {
    width: 100%; }
  .form-control {
    padding: 0 45px; }
  select[name="originLang"] {
    width: 360px; }
  select[name="translateName"] {
    width: 360px; }
  .service-item {
    text-align: left;
    width: 100%;
    padding-bottom: 20px; }
  .service-img {
    display: inline-block;
    text-align: center; }
  .service-desc {
    display: inline-block; }
  .pagenav-item {
    padding: 15px 0; }
  .woman {
    display: none; }
  .phones,
  .mail {
    text-align: left;
    display: block;
    width: 100%; }
  .forms-desc {
    display: inline-block; }
  .skype {
    width: 100%;
    text-align: left;
    display: inline-block; }
  .inline {
    display: inline-block; }
  .pl12 {
    padding-left: 12px; }
  .afterline:before {
    padding: 0 15px;
    content: "|";
    clear: both; }
  #owl-carousel3 .owl-prev {
    left: 20px !important; }
  #owl-carousel3 .owl-next {
    left: 50px !important; }
  .reviews {
    height: 365px; } }

@media all and (max-width: 320px) {
  .btn-inverse {
    display: none; }
  .btn-inverse-xs {
    display: inline-block;
    background: linear-gradient(to right, #f90040, #9a219e);
    padding: 8px 19px;
    color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.15); }
  .header-toggle {
    width: 36px;
    height: 36px;
    padding: 11px 6px; }
  .icon-bar {
    height: 2px;
    margin-bottom: 3px; }
  .header-logo {
    width: 88px; }
  .btns {
    margin-right: 59px; }
  .header-toggle {
    top: 27px !important; }
  .pagenav {
    top: 89px; }
  .header .popup-name,
  .header .popup-phone,
  .header .popup-textarea {
    width: 230px;
    padding: 10px; }
  .header .popup-content {
    width: 280px;
    height: 373px; }
  .header .popup-title {
    font-size: 18px; }
  .header .popup-desc {
    font-size: 10px; }
  .header .popup-closer {
    top: 10px !important;
    right: 10px !important; }
  .header .popup-second-content {
    height: 200px;
    width: 280px;
    padding: 36px 27px; }
  .btn-xs {
    padding: 10px;
    font-size: 14px; }
  .about-pd {
    padding: 0px 20px 0 20px; }
  .brand-title {
    line-height: 37px;
    font-size: 23px; }
  .block-title {
    font-size: 24px;
    padding: 20px 0 30px; }
  .fs20 {
    margin-left: 14%; }
  .fs20 {
    font-size: 17px; }
  .more {
    font-size: 17px;
    padding-bottom: 60px; }
  .tabs {
    min-height: 90px; }
  .tab > span,
  .tab > span.selected {
    font-size: 12px;
    line-height: 14px; }
  .service-desc {
    padding: 0;
    font-size: 14px; }
  .p4 {
    display: inline-block;
    width: 79%;
    vertical-align: text-bottom;
    padding: 0; }
  .service-img {
    width: 50px;
    height: 50px;
    font-size: 25px; }
  .fa {
    vertical-align: initial; }
  .form-group {
    display: none; }
  .social-desc {
    padding: 0; }
  .diagram-line {
    display: none; }
  .diagram-text {
    font-size: 13px;
    padding-top: 15px; }
  #owl-carousel2 .owl-prev {
    left: 42% !important; }
  #owl-carousel2 .owl-next {
    left: 52% !important; }
  .reviews-text {
    padding-top: 5px;
    font-size: 12px; }
  .reviews {
    height: 410px; }
  #owl-carousel3 .owl-next,
  #owl-carousel3 .owl-prev {
    top: 369px !important; }
  .forms-title {
    font-size: 17px; }
  .forms-desc {
    font-size: 13px; }
  .step {
    font-size: 20px; }
  .diagram-holder {
    margin-right: -14px;
    margin-left: -14px; }
  .reviews-holder {
    margin-right: -14px;
    margin-left: -14px; } }

.p4 {
  padding: 20px 4px; }

.text-bold {
  outline: none;
  color: #ff5b00;
  font-weight: 700; }

.mini {
  font-size: 14px; }

.fs20 {
  font-size: 20px; }

.bt {
  border-top: 2px solid #694a84; }

.bb {
  border-bottom: 2px solid #d9d9d9; }

.bold {
  font-weight: 700; }

.h100 {
  height: 100%; }

/*# sourceMappingURL=all.css.map */