.p4 {
    padding: 20px 4px;
}

.text-bold {
    outline: none;
    color: $brand-color;
    font-weight: 700;
}

.mini {
    font-size: 14px;
}

.fs20 {
    font-size: 20px;
}

.bt {
    border-top: 2px solid #694a84;
}

.bb {
    border-bottom: 2px solid #d9d9d9;
}

.bold {
    font-weight: 700;
}

.h100 {
    height: 100%;
}
