$font-family-base: 'Open Sans', sans-serif;

$container-width: 1170px;
$container-gutter: 0 15px;

$brand-color: #ff5b00;

$btn-font-size: 18px;
$btn-bg: #ff6600;
$btn-border-radius: 25px;
$btn-color: #f6f6f6;
$btn-padding: 16px 23px;
$btn-bg: linear-gradient(to right, #ff7c00, #ff6200);
$btn-color-hover: #f6f6f6;
$btn-bg-hover: linear-gradient(to right, #ff6d00, #f46004);
$btn-inverse-bg: linear-gradient(to right, #f90040, #9a219e);
$btn-inverse-bg-hover: linear-gradient(to right, #d3063b, #721975);

$form-margin-bottom: 20px;
$form-font-size: 16px; 